/* The default cofigure (zeroing) */
*{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Fira Code', monospace;
}
/* More configure style */
body{
    background-color: grey;
}
header{
    padding: 25px 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #0b0;
}
main{
    margin: 40px auto;
    width: 95%;
    max-width: 1050px;
    background-color: darkgray;
    border-radius: 15px;
    padding: 40px 1.5px 5px;
    box-sizing: border-box;
}
nav button{
    margin: 15px 0;
    height: 32px;
    padding: 0 12px;
    font-size: medium;
    font-weight: bolder;
    color: green;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
}
label{
    color: #333;
}
input{
    margin-top: 11px;
    height: 22px;
    border: 1px solid green;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
}
footer{
    font: 12px/33px arial;
}
footer a{
    color: black;
    text-decoration: none;
}
.title{
    color: white;
    font-size: larger;
}
.subtitle{
    color: lightgrey;
    font-style: italic;
}
.button-persegi{
    color: lightgray;
    background-color: green;
}
.page{
    width: 47%;
    background-color: lightgrey;
    border: 2px solid #090;
    border-radius: 15px;
    margin: 20px auto;
    display: inline-block;
    vertical-align: top;
}
.page-persegiPanjang{
    display: none;
}
.head-page{
    color: lightgray;
    padding: 20px 0;
    background-color: #090;
    border-radius: 10px 10px 0 0;
}
.description{
    padding: 20px 5px;
}
.square{
    margin: 20px auto;
    border: 2px solid #1a5af8;
    width: 100px;
    padding-top: 84px;
    font-size: 13px;
}
.rectangle{
    margin: 20px auto;
    border: 2px solid #1a5af8;
    width: 204px;
    padding: 42px 7px 0;
    font-size: 13px;
    text-align: right;
    box-sizing: border-box;
}
.rectangle p{
    padding-top: 26px;
    text-align: center;
}
.sisi{
    width: 70%;
}
.sisik{
    width: 34%;
}
.left{
    text-align: left;
}
.hitung{
    width: 20%;
    height: 24px;
    border-radius: 5px;
    border: 1px solid green;
    background-color: #0d0;
    color: whitesmoke;
}
.output{
    display: inline-block;
    text-align: left;
}
.reset{
    width: 15%;
    height: 20px;
    font-size: small;
    border-radius: 5px;
    border: 1px solid #f20;
    background-color: #ffa500;
    color: whitesmoke;
}
/* Change display if in hovered and clicked */
.hitung:hover, .hitung:active{
    font-size: small;
    border-color: #0d0;
    color: white;
}
.reset:hover, .reset:active{
    font-size: smaller;
    background-color: #f20;
    color: white;
}

@media only screen and (max-width: 990px) {
    main{
        width: 80%;
        min-width: 410px;
    }
    .page{
        width: 95%;
        margin: 20px auto;
        display: block;
        min-width: 380px;
    }
}
